@import url(reset.css);
@import url(../fonts/fonts.css);

@import url(header.css);


:root{
    /* cores principais */
    --color-bg-main: #0B1628;
    --gradient-bg-color: linear-gradient(135deg, #0F203F, #0b1629);
    --bg-card-color: #0f1f38;
    --color-bg-footer: #080F1E;

    /* tamanho de fontes */
    --weight-font-large: 800;
    --weight-font-middle-large: 700;
    --weight-font-middle: 600;
    --weight-font-small: 400;

    /* fontes */
    --font-Ouyfit: 'Outfit', sans-serif;
    --font-mono: 'JetBrains Mono', sans-serif;
    --font-inter: 'Inter', sans-serif;
}