@import url(reset.css);
@import url(../fonts/fonts.css);

@import url(header.css);
@import url(introducao.css);
@import url(ultima-medida.css);


:root{
    /* cores principais */
    --color-bg-main: #0B1628;
    --gradient-bg-color: linear-gradient(135deg, #0F203F, #0b1629);
    --bg-card-color: #0f1f38;
    --color-bg-footer: #080F1E;
    --color-yellow: #F97316;
    --color-gray: #94A3B8;
    --color-gray-dark: #64748B;
    --color-gray-more-dark: #475569;
    --color-blue-light: #1BD3D1;
    --color-blue-light-8: #1BD3D108;
    --color-blue-light-25: #1BD3D125;
    --colot-bg-blue-light: #0D2538;
    --color-blue-dark: #3B82F6;

    /* tamanho de fontes */
    --weight-font-large: 800;
    --weight-font-middle-large: 700;
    --weight-font-middle: 600;
    --weight-font-small: 400;

    /* fontes */
    --font-Outfit: 'Outfit', sans-serif;
    --font-mono: 'JetBrains Mono', sans-serif;
    --font-inter: 'Inter', sans-serif;
}

body{
    padding-top: 68px;
    background-color: var(--color-bg-main);
}

.button-blue{
    border: 1px solid var(--color-blue-light-25);
    background-color: var(--color-blue-light-8);
}

@media (min-width: 768px) {
    
    header .principal{
        display: flex;
        justify-content: space-between;
        flex-wrap: nowrap;
        width: 93%;
    }
    header .principal .button-options{
        display: none;
    }

    header .principal .navbar{
        display: flex;
        position: static;
        width: auto;
    }
    header .principal .navbar a{
        padding: 6px 12px;
        transition: 0.5s;
    }
    header .principal .navbar a:hover{
        transition: 0.5s;
        color: var(--color-blue-light);
        background-color: var(--colot-bg-blue-light);
        border-radius: 5px;
    }


    /* sessão ultima medida  */

    .ultima-medida{
        padding: 80px 24px;
    }
    
    .ultima-medida .grid-metricas .card-metrica{
        width: calc((100% - (3 * 16px)) / 3);
    }
}

@media (min-width: 1024px) {
    body{
        padding: 0;
    }

    header .principal{
        width: 93%;
    }

    /* sessão introdução */

    .introducao{
        display: flex;
        align-items: center;
        height: 100vh;
        padding: 0;
    }
    .introducao .container{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 0 32px;
    }

    .introducao .container .part-1{
        width: 46%;
    }

    
    .introducao .introducao-infor h1{
        font-size: 52px;
        line-height: 56px;
    }

    
    .introducao .container .part-2{
        margin: 0;
    }



    /* sessão ultima medida  */

    .ultima-medida{
        padding: 80px 32px;
    }


    .ultima-medida .linha-titulo h2{
        font-size: 32px;
    }
    
    
    .ultima-medida .grid-metricas .card-metrica{
        width: calc((100% - (5 * 16px)) / 6);
    }
    
}

@media (min-width: 1440px) {
    header .principal, .introducao .container, .ultima-medida{
        width: 1216px;
    }
    .introducao .container{
        margin: 0 auto;
    }
}